@import "var.scss";
@import "global.scss";

.login-logo {
  background: linear-gradient(200deg,#72afd3,#96fbc4);
  height: 100vh;
  width: 50vw;
  min-width: 650px;
  overflow: hidden;
  @include layout(center, center);
  .icon {
    @include icon(6.5em, $color-blue-dark);
    transform: rotate(-30deg);
  }
}
